
.icon-cog:before { content: '\e800'; } /* '' */
.icon-mic:before { content: '\e801'; } /* '' */
.icon-adjust:before { content: '\e802'; } /* '' */
.icon-fire:before { content: '\e803'; } /* '' */
.icon-th-list:before { content: '\e804'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-left-open:before { content: '\e807'; } /* '' */
.icon-fast-bw:before { content: '\e808'; } /* '' */
.icon-to-start:before { content: '\e809'; } /* '' */
.icon-fast-fw:before { content: '\e80a'; } /* '' */
.icon-to-end:before { content: '\e80b'; } /* '' */