.wrapper {
  padding: 3em 1em;
  .Featured__title {
    background-clip: text;
    background-image: linear-gradient(0.25turn, #ee0979, #ff6a00);
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 11vw;
  }
}
